{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg'%} ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Let Reset your password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
<!--================Signup Area =================-->
<section >
    <div class="container ">
        
                <form action="" method="POST" class="my-4 border rounded col-md-6 mx-md-auto">
                    {% csrf_token %}
                    <h2 class="col-12 my-3">Password Reset</h2>
                    {% if messages %}
                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                        
                    </div>
                    {% endif %}
                <div class="row  mx-md-auto ">
                    <div class="form-group col-12">
                        <label for="first_name" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                   
                    <button type="submit" class="form-control btn mb-3 rounded mx-3">Send Reset Link</button>
                    <a class="text-left mb-3 text-info col-12" href="{% url 'account:login' %}">Login instead?</a>
            </form>
            
     
    </div>
</section>
<!--================Signup Area =================-->

{% endblock content %}