{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Update Company Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!--================Signup Area =================-->
<section >
    <div class="container ">
        <form action="{% url 'account:update-account' %}" method="POST" enctype="multipart/form-data" 
                class="my-4 border rounded col-md-10 mx-md-auto">
                {% csrf_token %}
                    <h2 class="col-12 my-3">Complete Your Profile</h2>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} text-center alert-dismissible fade show" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                <div class="row  mx-md-auto ">
                    {% for entry in form %}
                    <div class="form-group col-md-6 ">
                        <label for="last_name" class="form-label">{{entry.label}}</label>
                        {{entry}}
                        
                    </div>
                    {% endfor %}
                    
                    <button type="submit" class="form-control btn mb-3 rounded mx-3">Submit</button>
                </div>
            </form>
            
     
    </div>
</section>
<!--================Signup Area =================-->

{% endblock content %}