{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Eduv Job Portal | Signup</title> {% endblock title %}

{% block content %}

<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Let Recuiters find you</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!--================Signup Area =================-->
<section >
    <div class="container ">
        
                <form action="" method="POST" class="my-4 border rounded col-md-10 mx-md-auto">
                    {% csrf_token %}
                    <h2 class="col-12 my-3">Create Account</h2> 
                    {% if form.errors %}
                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                        {% for field,error in form.errors.items %}
                        {{error}}
                        {% endfor %}
                        <!-- <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button> -->
                    </div>
                    {% endif %}
                    
                <div class="row  mx-md-auto ">
                    
                    {% for entry in form %}
                    <div class="form-group col-md-6">
                        <label for="first_name" class="form-label">{{entry.label}}</label>
                        {{entry}}
                    </div>
                    {% endfor %}
                    
                    <button type="submit" class="form-control btn mb-3 rounded mx-3">Submit</button>
                    <a class="text-left mb-3 text-info col-12" href="{% url 'account:login'%}">Registered User?Login</a>
                </div>
            </form>
            
     
    </div>
</section>
<!--================Signup Area =================-->

{% endblock content %}