{% extends 'base.html' %}

{% block content %}


<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Recuiter Meet Talent</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!--================Signup Area =================-->
<section >
    <div class="container ">
        
                <form action="" method="POST" class="my-4 border rounded col-md-10 mx-md-auto">
                    <h2 class="col-12 my-3">Update Your Profile</h2>

                <div class="row  mx-md-auto ">
                    <div class="form-group col-md-6">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                
                
                    <div class="form-group col-md-6">
                        <label for="first_name" class="form-label">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name" class="form-label">Phone Number</label>
                        <input type="text" class="form-control">
                    </div>
                
                
                    <div class="form-group col-md-6 ">
                        <label for="last_name" class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="e.g Software Developer">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="first_name" class="form-label">Image</label>
                        <input type="file" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="skill" id="newSkill">
                        <label for="first_name" class="form-label text-info text-center" id="btn-add" onclick="showmore()">Add Skills +</label>
                        <ul id="skillList" class="list-unstyled list-inline"></ul>
                    </div>
                    <div class="form-group col-md-6 ">
                        
                        <input type="file" class="form-control">
                        <label for="last_name" class="form-label">Upload Resume</label>
                    </div>
                
                
                    
                    
                    <div class="form-group col-md-6 ">
                        <label for="last_name" class="form-label">Min Salary</label>
                        <input type="text" class="form-control" placeholder="e.g $500">
                        
                    </div>
                
                    <!-- <div class="form-group col-md-6">
                        <label for="full_name" class="form-label">Available For</label><br>
                        <label for="full_name" class="form-label">Part Time (Remote)</label>
                        <input type="checkbox" class="">&nbsp;&nbsp;
                        <label for="full_name" class="form-label">Part Time (Onsite)</label>
                        <input type="checkbox" class=""><br>
                        <label for="full_name" class="form-label">Full Time (Remote)</label>
                        <input type="checkbox" class="">&nbsp;&nbsp;
                        
                        <label for="full_name" class="form-label">Full Time (Onsite)</label>
                        <input type="checkbox" class=""><br>
                        <input type="text" class="form-control"> -->
                        <!-- <select class="form-control">
                            <option>Part Time (Remote)</option>
                            <option>Full Time (Remote)</option>
                            <option>Part Time (Onsite)</option>
                            <option>Full Time (Onsite)</option>
                        </select> -->
                    <!-- </div> -->
                    <div class="form-group col-md-6">
                        <label for="last_name" class="form-label">Current Location</label>
                        <input type="text" class="form-control" placeholder="Hadejia, Jigawa State Nigeria">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name" class="form-label">Available for Employment</label>
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <button type="submit" class="form-control btn mb-3 rounded mx-3">Submit</button>
                </div>
            </form>
            
     
    </div>
</section>
<!--================Signup Area =================-->

{% endblock content %}