{% extends 'base.html' %}



{% block content %}

<section>
    <div class="container ">

        <form action="" method="POST" class="my-4 border rounded col-md-6 mx-md-auto">
            {% csrf_token %}
            <h2 class="col-12 my-3">New Token Request</h2>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger col-12 text-center text-black" role="alert">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="row  mx-md-auto ">
                <div class="form-group col-12">
                    <label for="first_name" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <button type="submit" class="form-control btn mb-3 rounded mx-3">Send New Token</button>
                <a class="text-left mb-3 text-info col-12" href="/login.html">Login instead?</a>
        </form>


    </div>
</section>

{% endblock content %}